#header {
	text-shadow: 1px 1px 1px #aaa;
	font-family: 'Ubuntu', cursive;
	margin: 0;
}

th, p, button, input, textarea, h4 {
	font-family: 'Ubuntu', cursive;
}

.modal-body .control-label, .modal-header .modal-title .panel-heading {
	font-family: 'Ubuntu', cursive;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
	text-shadow: .5px .5px .5px #aaa;
	font-family: 'Ubuntu', cursive;
}

#budo_logo {
	width : 125px;
	height : 25px;
}

.header-row{
	margin-bottom: 20px;
}

#submit-form{
	margin-bottom: 50px;
}

#pencil {
	font-size:24px; 
	cursor: pointer;
	position: relative;
	top: 2px;
	left: 3px;
}
#trash {
	font-size:24px; 
	cursor: pointer;
	position: relative;
	left: 5px;
}

#delete-adjustment{
	cursor:pointer;
}

#edit-adjustment{
	margin-left:5px;
	cursor: pointer;
}

#adj {
	font-size:24px; 
	cursor: pointer;
	padding-left: 5px;
	position: relative;
	left: 7px;
}

#refresh {
	font-size: 16px; 
	cursor: pointer;
	margin-left: 225px;
}

.fa-adjust:hover {
    color: blue;
}

.fa-trash-o:hover {
    color: red;
}

.edit-adjustment:hover {
	color: green;
}


.edit-item:hover {
    color: green;
}


.fa-refresh:hover {
    color: red;
}

.form-group{
	margin-bottom: 0px;
}

.login_panel{
	margin-top: 100px;
}

#logoutLblPos{
   position: fixed;
   right: 10px;
   top: 10px;
}